
.book-now button {
    font-weight: 700;
    color: var(--color-dark-blue);
    border: 1px solid var(--color-dark-blue);
    padding: 18px 34px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
.book-now button span {
    z-index: 1;
}
.book-now button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: var( --color-light-blue);
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.book-now button:hover {
/* color: rgba(74, 47, 189, 0.5); */
    color:white;
}
.book-now button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}
