@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --fancy-font-family: 'Caveat', cursive;

  --gradient-text: linear-gradient(45deg, #30BECC 33%, #50205C, #36A8DA );
  --gradient-bar: linear-gradient(103.22deg, #36A8DA -13.86%, lightgray 99.55%);

  
  --color-dark-txt: #50205C; 
  --color-reg-txt: rgb(92, 92, 92);
  --color-sub-txt: #FF8A71;
  --color-love-txt: darkred;
  --color-dark-gray: darkgray;
  --color-pinkish: rgb(227, 155, 166);
  --color-turquoise: #30BECC;
  --color-bg: rgb(249, 246, 251);
  --color-light-blue : #36A8DA;
  --color-dark-blue: #042c54;

  --color-linkedIn: #0077B5;
  --color-facebook: #4267B2;
  --color-instagram: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);


  --center-body: 5%;
  --div-spacer: 2.5%;
}
