
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 195px;
    padding: 50px 0 50px 0;/* top right bottom left */
    background-image: url('./../../assets/banner.jpeg');
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header img{
    max-width: 50%;
    height: auto;
  }




  @media screen and (max-width: 1199px) {
    .header{
        margin-top: 155px;
    }
  }
  
  @media screen and (max-width: 991px) {
    .header{
        margin-top: 104px;
    }
  }
